<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/sdk.css" />
</head>
<body>
<script src="../static/sdk.js"></script>
<div id="root" ></div>
<script type="text/javascript">
    (function () {
            let amis = amisRequire('amis/embed');
            let amisJSON = {
                type:"container",
                body:{
                    "type": 'flex',                                             //amis布局框架
                    "items":
                        [
                            {
                                "type": "page",
                                 title: '表单页面',
                                "style": {
                                    "width": 800,                                //框架宽高
                                    "height":700
                                },
                                "className":"b",
                                "name":"page1",
                                "body": [
                                    {
                                        "type": "form",
                                        "name":"form1",
                                        "data":{
                                            "data1":"I am data"
                                        },
                                        "controls": [
                                            {
                                                "type": "text",
                                                "label": "用户名",
                                                "name": "name",
                                            },
                                        ],
                                    },
                                    {
                                        type: 'button',
                                        label: '发送数据',
                                        onClick: () => {
                                            window.frames[0].postMessage(                     //只能发送data和value数据
                                                {
                                                    data:amisScoped.getComponentByName('page1.form1').getValues(),
                                                },
                                            );
                                        }
                                    },
                                ]
                            },
                            {
                                "type": "iframe",                                     //内嵌iframe框架
                                "src": "/child",
                                "className":"b",
                                "style": {
                                    "height":700
                                },
                            }
                        ]
                }
            };
            let amisScoped = amis.embed('#root', amisJSON);
        })();
</script>

</body>
</html>